<div class="row" >
	<div class="col-md-5">
		<div class="form-inline">
			<label>
				<input id="daterangeslider" type="checkbox" ng-model="daterange.data.enabled" ng-click="change()"></input>
				Restrict to date range
			</label>
		</div>
	</div>

	<div class="col-md-7" ng-show="daterange.data.enabled">
		<div class="bathyDaterange">
			<bathy-daterange-slider/>
		</div>
		<div class="row">
			<div class="col-md-12" style="text-align:center">
				<span class="pull-left">Earliest</span>
				<span ng-show="daterange.data.lower">{{daterange.data.lower}}</span> -
				<span ng-show="daterange.data.upper">{{daterange.data.upper}}</span>
				<span class="pull-right">Up to today</span>
		</div>
	</div>
</div>